<div *ngIf="product">
  <h2>{{product.name | uppercase}}'s Detail</h2>
  <table cellpadding="10">
    <tr>
      <th>ID</th>
      <td><input type="text" [(ngModel)]="product.id"></td>
    </tr>
    <tr>
      <th>Name</th>
      <td><input type="text" [(ngModel)]="product.name"></td>
    </tr>
    <tr>
      <th>Price</th>
      <td><input type="number" [(ngModel)]="product.price"></td>
    </tr>
    <tr>
      <th>Description</th>
      <td><textarea maxlength="255" [(ngModel)]="product.description"></textarea></td>
    </tr>
  </table>
</div>
