<!--<app-name-card cardName="Professional Dev" email="prodev@codegym.vn" phone="0123456789"></app-name-card>-->
<!--<app-progress-bar progress="0"></app-progress-bar>-->
<!--<app-rating-bar></app-rating-bar>-->
<!--<app-countdown-timer></app-countdown-timer>-->
<!--<app-demo-template-form></app-demo-template-form>-->
<!--<app-todo-app></app-todo-app>-->
<!--<app-signup-form></app-signup-form>-->
<!--<app-signin-form></app-signin-form>-->

<a routerLink="/timelines">Ứng dụng tính thời gian sống</a>
<router-outlet></router-outlet>
